/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
.deck-container #title-slide h1 .subtitle {
  font-size: 50%;
}
/* line 14, ../sass/screen.scss */
.deck-container .deck-status {
  font-size: 1.5em;
  bottom: 20px;
}
/* line 19, ../sass/screen.scss */
.deck-container .slide-footer {
  position: absolute;
  bottom: 20px;
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 170px;
  height: 42px;
  line-height: 42px;
}
