/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.scss */
.deck-container #title-slide h1 .subtitle {
  font-size: 50%;
}
/* line 14, ../sass/screen.scss */
.deck-container .deck-status {
  font-size: 1.3em;
  bottom: 20px;
  right: 20px;
}
/* line 20, ../sass/screen.scss */
.deck-container .slide-footer {
  position: absolute;
  bottom: 20px;
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 170px;
  height: 42px;
  line-height: 42px;
}

/* line 31, ../sass/screen.scss */
.deck-menu .slide-footer {
  background: none;
}

/* line 34, ../sass/screen.scss */
.deck-container section.slide {
  background: none repeat scroll 0 0 white;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 2px 20px #ccc;
  text-shadow: none;
}

/* line 44, ../sass/screen.scss */
#toc .H2 {
  margin-left: 20px;
  list-style: circle outside none;
}
/* line 48, ../sass/screen.scss */
#toc a {
  color: black;
}

/* line 53, ../sass/screen.scss */
.caption {
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
  padding-top: -10px;
}

/* line 59, ../sass/screen.scss */
.deck-container pre {
  border: 1px solid #999999;
  border-radius: 0;
}

/* line 6, ../sass/_tdd.scss */
h2, h1 {
  text-shadow: 0px -1px #444444;
}

/* line 11, ../sass/_tdd.scss */
.deck-container .red, .deck-container .green, .deck-container .refactor {
  box-shadow: none;
}
/* line 13, ../sass/_tdd.scss */
.deck-container .red h2, .deck-container .green h2, .deck-container .refactor h2 {
  text-shadow: 0px -1px black;
  color: white;
}
/* line 18, ../sass/_tdd.scss */
.deck-container section.slide.red {
  background: #bf3030;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf3030), color-stop(100%, #962626));
  background-image: -webkit-linear-gradient(#bf3030, #962626);
  background-image: -moz-linear-gradient(#bf3030, #962626);
  background-image: -o-linear-gradient(#bf3030, #962626);
  background-image: -ms-linear-gradient(#bf3030, #962626);
  background-image: linear-gradient(#bf3030, #962626);
}
/* line 22, ../sass/_tdd.scss */
.deck-container section.slide.green {
  background: #0d8800;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d8800), color-stop(100%, #085500));
  background-image: -webkit-linear-gradient(#0d8800, #085500);
  background-image: -moz-linear-gradient(#0d8800, #085500);
  background-image: -o-linear-gradient(#0d8800, #085500);
  background-image: -ms-linear-gradient(#0d8800, #085500);
  background-image: linear-gradient(#0d8800, #085500);
}
/* line 26, ../sass/_tdd.scss */
.deck-container section.slide.refactor {
  background: #666670;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666670), color-stop(100%, #4e4e55));
  background-image: -webkit-linear-gradient(#666670, #4e4e55);
  background-image: -moz-linear-gradient(#666670, #4e4e55);
  background-image: -o-linear-gradient(#666670, #4e4e55);
  background-image: -ms-linear-gradient(#666670, #4e4e55);
  background-image: linear-gradient(#666670, #4e4e55);
}

/* line 32, ../sass/_tdd.scss */
#circle img {
  max-height: 500px;
}

/* line 36, ../sass/_tdd.scss */
.test-output {
  font-size: 90%;
}
/* line 38, ../sass/_tdd.scss */
.test-output strong.red {
  color: #bf3030;
  font-weight: normal;
}
/* line 42, ../sass/_tdd.scss */
.test-output strong.green {
  color: #0d8800;
  font-weight: normal;
}

/* line 1, ../sass/syntax/colorful.scss */
.highlight .hll {
  background-color: #ffffcc;
}

/* line 2, ../sass/syntax/colorful.scss */
.highlight {
  background: #ffffff;
}

/* line 3, ../sass/syntax/colorful.scss */
.highlight .c {
  color: #808080;
}

/* Comment */
/* line 4, ../sass/syntax/colorful.scss */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0;
}

/* Error */
/* line 5, ../sass/syntax/colorful.scss */
.highlight .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 6, ../sass/syntax/colorful.scss */
.highlight .o {
  color: #303030;
}

/* Operator */
/* line 7, ../sass/syntax/colorful.scss */
.highlight .cm {
  color: #808080;
}

/* Comment.Multiline */
/* line 8, ../sass/syntax/colorful.scss */
.highlight .cp {
  color: #507090;
}

/* Comment.Preproc */
/* line 9, ../sass/syntax/colorful.scss */
.highlight .c1 {
  color: #808080;
}

/* Comment.Single */
/* line 10, ../sass/syntax/colorful.scss */
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Special */
/* line 11, ../sass/syntax/colorful.scss */
.highlight .gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 12, ../sass/syntax/colorful.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../sass/syntax/colorful.scss */
.highlight .gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 14, ../sass/syntax/colorful.scss */
.highlight .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 15, ../sass/syntax/colorful.scss */
.highlight .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 16, ../sass/syntax/colorful.scss */
.highlight .go {
  color: #808080;
}

/* Generic.Output */
/* line 17, ../sass/syntax/colorful.scss */
.highlight .gp {
  color: #c65d09;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 18, ../sass/syntax/colorful.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, ../sass/syntax/colorful.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, ../sass/syntax/colorful.scss */
.highlight .gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 21, ../sass/syntax/colorful.scss */
.highlight .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, ../sass/syntax/colorful.scss */
.highlight .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, ../sass/syntax/colorful.scss */
.highlight .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, ../sass/syntax/colorful.scss */
.highlight .kp {
  color: #003080;
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../sass/syntax/colorful.scss */
.highlight .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../sass/syntax/colorful.scss */
.highlight .kt {
  color: #303090;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../sass/syntax/colorful.scss */
.highlight .m {
  color: #6000E0;
  font-weight: bold;
}

/* Literal.Number */
/* line 28, ../sass/syntax/colorful.scss */
.highlight .s {
  background-color: #fff0f0;
}

/* Literal.String */
/* line 29, ../sass/syntax/colorful.scss */
.highlight .na {
  color: #0000C0;
}

/* Name.Attribute */
/* line 30, ../sass/syntax/colorful.scss */
.highlight .nb {
  color: #007020;
}

/* Name.Builtin */
/* line 31, ../sass/syntax/colorful.scss */
.highlight .nc {
  color: #B00060;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../sass/syntax/colorful.scss */
.highlight .no {
  color: #003060;
  font-weight: bold;
}

/* Name.Constant */
/* line 33, ../sass/syntax/colorful.scss */
.highlight .nd {
  color: #505050;
  font-weight: bold;
}

/* Name.Decorator */
/* line 34, ../sass/syntax/colorful.scss */
.highlight .ni {
  color: #800000;
  font-weight: bold;
}

/* Name.Entity */
/* line 35, ../sass/syntax/colorful.scss */
.highlight .ne {
  color: #F00000;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, ../sass/syntax/colorful.scss */
.highlight .nf {
  color: #0060B0;
  font-weight: bold;
}

/* Name.Function */
/* line 37, ../sass/syntax/colorful.scss */
.highlight .nl {
  color: #907000;
  font-weight: bold;
}

/* Name.Label */
/* line 38, ../sass/syntax/colorful.scss */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold;
}

/* Name.Namespace */
/* line 39, ../sass/syntax/colorful.scss */
.highlight .nt {
  color: #007000;
}

/* Name.Tag */
/* line 40, ../sass/syntax/colorful.scss */
.highlight .nv {
  color: #906030;
}

/* Name.Variable */
/* line 41, ../sass/syntax/colorful.scss */
.highlight .ow {
  color: #000000;
  font-weight: bold;
}

/* Operator.Word */
/* line 42, ../sass/syntax/colorful.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 43, ../sass/syntax/colorful.scss */
.highlight .mf {
  color: #6000E0;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 44, ../sass/syntax/colorful.scss */
.highlight .mh {
  color: #005080;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 45, ../sass/syntax/colorful.scss */
.highlight .mi {
  color: #0000D0;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 46, ../sass/syntax/colorful.scss */
.highlight .mo {
  color: #4000E0;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 47, ../sass/syntax/colorful.scss */
.highlight .sb {
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 48, ../sass/syntax/colorful.scss */
.highlight .sc {
  color: #0040D0;
}

/* Literal.String.Char */
/* line 49, ../sass/syntax/colorful.scss */
.highlight .sd {
  color: #D04020;
}

/* Literal.String.Doc */
/* line 50, ../sass/syntax/colorful.scss */
.highlight .s2 {
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 51, ../sass/syntax/colorful.scss */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 52, ../sass/syntax/colorful.scss */
.highlight .sh {
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 53, ../sass/syntax/colorful.scss */
.highlight .si {
  background-color: #e0e0e0;
}

/* Literal.String.Interpol */
/* line 54, ../sass/syntax/colorful.scss */
.highlight .sx {
  color: #D02000;
  background-color: #fff0f0;
}

/* Literal.String.Other */
/* line 55, ../sass/syntax/colorful.scss */
.highlight .sr {
  color: #000000;
  background-color: #fff0ff;
}

/* Literal.String.Regex */
/* line 56, ../sass/syntax/colorful.scss */
.highlight .s1 {
  background-color: #fff0f0;
}

/* Literal.String.Single */
/* line 57, ../sass/syntax/colorful.scss */
.highlight .ss {
  color: #A06000;
}

/* Literal.String.Symbol */
/* line 58, ../sass/syntax/colorful.scss */
.highlight .bp {
  color: #007020;
}

/* Name.Builtin.Pseudo */
/* line 59, ../sass/syntax/colorful.scss */
.highlight .vc {
  color: #306090;
}

/* Name.Variable.Class */
/* line 60, ../sass/syntax/colorful.scss */
.highlight .vg {
  color: #d07000;
  font-weight: bold;
}

/* Name.Variable.Global */
/* line 61, ../sass/syntax/colorful.scss */
.highlight .vi {
  color: #3030B0;
}

/* Name.Variable.Instance */
/* line 62, ../sass/syntax/colorful.scss */
.highlight .il {
  color: #0000D0;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 23, 2011 06:41:27 AM America/New_York */
@font-face {
  font-family: 'UbuntuMonoRegular';
  src: url("fonts/ubuntu/UbuntuMono-R-webfont.eot");
  src: url("fonts/ubuntu/UbuntuMono-R-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ubuntu/UbuntuMono-R-webfont.woff") format("woff"), url("fonts/ubuntu/UbuntuMono-R-webfont.ttf") format("truetype"), url("fonts/ubuntu/UbuntuMono-R-webfont.svg#UbuntuMonoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMonoItalic';
  src: url("fonts/ubuntu/UbuntuMono-RI-webfont.eot");
  src: url("fonts/ubuntu/UbuntuMono-RI-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ubuntu/UbuntuMono-RI-webfont.woff") format("woff"), url("fonts/ubuntu/UbuntuMono-RI-webfont.ttf") format("truetype"), url("fonts/ubuntu/UbuntuMono-RI-webfont.svg#UbuntuMonoItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMonoBold';
  src: url("fonts/ubuntu/UbuntuMono-B-webfont.eot");
  src: url("fonts/ubuntu/UbuntuMono-B-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ubuntu/UbuntuMono-B-webfont.woff") format("woff"), url("fonts/ubuntu/UbuntuMono-B-webfont.ttf") format("truetype"), url("fonts/ubuntu/UbuntuMono-B-webfont.svg#UbuntuMonoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMonoBoldItalic';
  src: url("fonts/ubuntu/UbuntuMono-BI-webfont.eot");
  src: url("fonts/ubuntu/UbuntuMono-BI-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ubuntu/UbuntuMono-BI-webfont.woff") format("woff"), url("fonts/ubuntu/UbuntuMono-BI-webfont.ttf") format("truetype"), url("fonts/ubuntu/UbuntuMono-BI-webfont.svg#UbuntuMonoBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 23, 2011 08:17:36 AM America/New_York */
@font-face {
  font-family: 'BevanRegular';
  src: url("fonts/bevan/Bevan-webfont.eot");
  src: url("fonts/bevan/Bevan-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bevan/Bevan-webfont.woff") format("woff"), url("fonts/bevan/Bevan-webfont.ttf") format("truetype"), url("fonts/bevan/Bevan-webfont.svg#BevanRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 23, 2011 08:24:12 AM America/New_York */
@font-face {
  font-family: 'TeXGyreBonumRegular';
  src: url("fonts/tex-gyre-bonum/texgyrebonum-regular-webfont.eot");
  src: url("fonts/tex-gyre-bonum/texgyrebonum-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tex-gyre-bonum/texgyrebonum-regular-webfont.woff") format("woff"), url("fonts/tex-gyre-bonum/texgyrebonum-regular-webfont.ttf") format("truetype"), url("fonts/tex-gyre-bonum/texgyrebonum-regular-webfont.svg#TeXGyreBonumRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreBonumItalic';
  src: url("fonts/tex-gyre-bonum/texgyrebonum-italic-webfont.eot");
  src: url("fonts/tex-gyre-bonum/texgyrebonum-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tex-gyre-bonum/texgyrebonum-italic-webfont.woff") format("woff"), url("fonts/tex-gyre-bonum/texgyrebonum-italic-webfont.ttf") format("truetype"), url("fonts/tex-gyre-bonum/texgyrebonum-italic-webfont.svg#TeXGyreBonumItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreBonumBold';
  src: url("fonts/tex-gyre-bonum/texgyrebonum-bold-webfont.eot");
  src: url("fonts/tex-gyre-bonum/texgyrebonum-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tex-gyre-bonum/texgyrebonum-bold-webfont.woff") format("woff"), url("fonts/tex-gyre-bonum/texgyrebonum-bold-webfont.ttf") format("truetype"), url("fonts/tex-gyre-bonum/texgyrebonum-bold-webfont.svg#TeXGyreBonumBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TeXGyreBonumBoldItalic';
  src: url("fonts/tex-gyre-bonum/texgyrebonum-bolditalic-webfont.eot");
  src: url("fonts/tex-gyre-bonum/texgyrebonum-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tex-gyre-bonum/texgyrebonum-bolditalic-webfont.woff") format("woff"), url("fonts/tex-gyre-bonum/texgyrebonum-bolditalic-webfont.ttf") format("truetype"), url("fonts/tex-gyre-bonum/texgyrebonum-bolditalic-webfont.svg#TeXGyreBonumBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 23, 2011 08:27:23 AM America/New_York */
@font-face {
  font-family: 'GabrielleRegular';
  src: url("fonts/gabrielle/Gabrielle-webfont.eot");
  src: url("fonts/gabrielle/Gabrielle-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gabrielle/Gabrielle-webfont.woff") format("woff"), url("fonts/gabrielle/Gabrielle-webfont.ttf") format("truetype"), url("fonts/gabrielle/Gabrielle-webfont.svg#GabrielleRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 67, ../sass/screen.scss */
.highlight pre {
  font-family: "UbuntuMonoRegular", monospace;
}

/* line 70, ../sass/screen.scss */
.highlight {
  background: transparent;
}

/* line 74, ../sass/screen.scss */
.deck-container h1, .deck-container h2 {
  font-family: "GabrielleRegular", "Hoefler Text",Constantia,Palatino,"Palatino Linotype","Book Antiqua",Georgia,serif;
}
