%section.slide
  %h1 FAQ

%section.slide
  %h2 Prinzip des Empfehlungssystems
  = image_tag "empfehlungscode.png"

%section.slide
  %h2 MVC von Rails
  = image_tag "mvc.png"

%section.slide
  %h2 TDD + Design
  = image_tag "ablauf.png"
