%section.slide
  %h1 Appendix

%section.slide
  %h2 Prinzip des Empfehlungssystems
  = image_tag_with_caption "imgs/empfehlungscode.png", ""

%section.slide
  %h2 MVC von Rails
  = image_tag_with_caption "imgs/mvc.png", ""

%section.slide
  %h2 Ablauf TDD+Design
  = image_tag_with_caption "ablauf.png", ""
%section.slide
  %h2 Tests
  = image_tag_with_caption "testarten.png",""
