%section.slide#results.toc
  %h1 Ergebnisse

%section.slide.toc
  %h2 Status der Entwicklung
  %ul
    %li Entwicklung von www.it-jobs-und-stellen.de nicht abgeschlossen &rarr; Repriorisierung
    %li
      Allerdings signifikante Teile extrahiert und in Produktion:
      %ul
        %li Feedimport
        %li Stellensuche (www.empfehlungsbund.de)
%section.slide
  %h2 Testabdeckung
  = image_tag "coverage.png"
%section.slide
  %h2 Codemenge
  = image_tag "loclot.png"
%section.slide
  %h2 Smells
  = image_tag "itjobs-smells.png"
%section.slide#benchmark.toc
  %h2 Benchmark
  = image_tag "complexity.png"
