%section.slide.toc
  %h1 Theoretische Grundlagen

%section.slide.toc
  %h2 Automatisierter dynamischer Test
  %ul
    %li Automatisiert - manuell
    %li dynamisch - statisch
    %li Test

%section.slide.toc
  %h2 TDD - Testgetriebene Entwicklung
  %ul
    %li iterative Entwicklungstechnik
    %li bekannt durch eXtreme Programming (XP)

%section.slide.red
  %h2 Red

%section.slide.green
  %h2 Green

%section.slide.refactor
  %h2 Refactor

%section.slide#circle
  %h2 Kreislauf
  = image_tag_with_caption "imgs/rgr.jpg",  "Agile Flash"

%section.slide.toc
  %h2 Ruby
