%section.slide.toc
  %h1 Motivation
%section#pludoni.slide
  %h2 Die pludoni GmbH
  %ul
    %li 2008 gegründet
    %li Zielgruppe sind KMU
    %li bietet Plattformen und Rahmenbedingungen für Bewerberempfehlungen
    %li z.B. ITsax.de, ITmitte.de und MINTsax.de
%section.slide
  %h2 Motivation

-#%section#how-to-overview.slide
  -#%h2 How to Make a Deck
  -#%ol
    -#%li
      -#%h3 Write Slides
      -#%p Slide content is simple HTML.
    -#%li
      -#%h3 Choose Themes
      -#%p One for slide styles and one for deck transitions.
    -#%li
      -#%h3 Include Extensions
      -#%p Add extra functionality to your deck, or leave it stripped down.
-#%section#elements-blockquotes.slide
  -#%h2 Other Elements: Blockquotes
  -#%blockquote{:cite => "http://example.org"}
    -#%p Food is an important part of a balanced diet.
    -#%p
      -#%cite Fran Lebowitz
