%section.slide.toc
  %h1 Motivation
%section#pludoni.slide
  %h2 Die pludoni GmbH
  %ul
    %li 2008 gegründet
    %li Zielgruppe sind KMU
    %li bietet Plattformen und Rahmenbedingungen für Bewerberempfehlungen
    %li z.B. ITsax.de, ITmitte.de und MINTsax.de
%section.slide
  %h2 Motivation
  %ul
    %li Verteiltes und asynchrones Arbeiten
    %li Legacy-Code verschiedener Programmierer
    %li zunehmene Komplexität, wenige Tests &rarr; Regressionsfehler
  %ul.slide
    %li Testgetriebene Entwicklung


%section.slide.toc
  %h1 Theoretische Grundlagen

%section.slide.toc
  %h2 Automatisierter dynamischer Test
  %ul
    %li Automatisiert - manuell
    %li dynamisch - statisch
    %li Test

%section.slide.toc
  %h2 TDD - Testgetriebene Entwicklung
  %ul
    %li iterative Entwicklungstechnik
    %li bekannt durch eXtreme Programming (XP)

%section.slide.red
  %h2 Red

%section.slide.green
  %h2 Green

%section.slide.refactor
  %h2 Refactor

%section.slide#circle
  %h2 Kreislauf
-#%section#how-to-overview.slide
  -#%h2 How to Make a Deck
  -#%ol
    -#%li
      -#%h3 Write Slides
      -#%p Slide content is simple HTML.
    -#%li
      -#%h3 Choose Themes
      -#%p One for slide styles and one for deck transitions.
    -#%li
      -#%h3 Include Extensions
      -#%p Add extra functionality to your deck, or leave it stripped down.
-#%section#elements-blockquotes.slide
  -#%h2 Other Elements: Blockquotes
  -#%blockquote{:cite => "http://example.org"}
    -#%p Food is an important part of a balanced diet.
    -#%p
      -#%cite Fran Lebowitz
