%section.slide.toc
  %h1 Motivation
%section#pludoni.slide
  %h2 Die pludoni GmbH
  %ul
    %li 2008 gegründet
    %li Zielgruppe sind KMU
    %li bietet Plattformen und Rahmenbedingungen für Bewerberempfehlungen
    %li z.B. ITsax.de, ITmitte.de und MINTsax.de
%section.slide
  %h2 Motivation
  %ul
    %li Verteiltes und asynchrones Arbeiten
    %li Legacy-Code verschiedener Programmierer
    %li zunehmene Komplexität, wenige Tests &rarr; Regressionsfehler
  %ul.slide
    %li Testgetriebene Entwicklung


