%section#title-slide.slide
  %h1
    =META["title"]
    .subtitle=META["subtitle"]
%section#toc-slide.slide
  %h2 Inhalt
  #toc

%section#how-to-overview.slide
  %h2 How to Make a Deck
  %ol
    %li
      %h3 Write Slides
      %p Slide content is simple HTML.
    %li
      %h3 Choose Themes
      %p One for slide styles and one for deck transitions.
    %li
      %h3 Include Extensions
      %p Add extra functionality to your deck, or leave it stripped down.
%section#elements-blockquotes.slide
  %h2 Other Elements: Blockquotes
  %blockquote{:cite => "http://example.org"}
    %p Food is an important part of a balanced diet.
    %p
      %cite Fran Lebowitz
= render "slides/chapter1.html.haml"
