%section#title-slide.slide
  %h1
    =META["title"]
    .subtitle=META["subtitle"]
%section#toc-slide.slide
  %h2 Inhalt
  #toc

= render "slides/chapter1.html.haml"
= render "slides/chapter2.html.haml"
= render "slides/chapter3.html.haml"
= render "slides/fazit.html.haml"
